@{
    ViewBag.Title = "Home Page";
    Layout = "~/MvcLogic/_Common/Views/Shared/_LayoutAdminPage.cshtml";
}

@using UzClevMate.BL.StudyLogic.Disciplines.Models
@using UzClevMate._Common.Extensions

<div class="jumbotron">
    <h1>@Resources.Translations.Example</h1>
</div>

<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
</ul>


<a href="/Language/Set?culture=ru">Русский</a>
<a href="/Language/Set?culture=uz">Uzbek</a>

<br />
<div>
    <label>Предмет: </label>
    <select class="form-control" v-model="search.methodName">
        @foreach (Discipline method in Enum.GetValues(typeof(Discipline)))
        {
        <option value="@((int)method)">@AttributeExtensions.GetDisplayAttribute(method)</option>
        }
    </select>
</div>
