@model UzClevMate.MvcLogic.Apps.WebApp.AccountManagement.ViewModels.ForgotPasswordViewModel

@{
    ViewBag.Title = "Забыли пароль?";
    Layout = "~/MvcLogic/_Common/Views/Shared/_LayoutAccountManagementPage.cshtml";
}

<main class="tp-main tp-login">
    <div class="container pb-6 pt-3">
        <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                <div class="p-4 p-lg-6 bg-white border border-dashed">
                    <h1>@ViewBag.Title</h1>
                    <p class="mb-5">Введите email      </p>
                    <div id="loginForm">
                        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "label" })
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>
                            <div class="form-group mb-4">
                                <button class="btn btn-primary" type="submit" id="submit-btn"> <span>Получить ссылку</span></button>
                                <div id="loading-btn" class="btn btn-secondary" style="display: none;"><span>Подождите... </span></div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
